{
  "presets": ["next/babel"],
  "plugins": [
    ["react-native-web", { "commonjs": true }],
    [
      "import",
      {
        "libraryName": "antd-mobile",
        "style": true
      }
    ]
  ]
}
