{
  "presets": ["next/babel"],
  // "plugins": [
  //   [
  //     "import",
  //     {
  //       "libraryName": "antd",
  //       "style": true
  //     }
  //   ]
  // ],
  "plugins": [["react-native-web", { "commonjs": true }]]
}
